.header, .body, {
  box-sizing:border-box;
}

.body {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
}

.title, .desc {
  width: 100%;
  padding: 0.75em 1em;
  word-wrap: break-word;
}

.title {
  font-size: 1.2em;
  color: #333;
}

.header {
  width:40%;
  background: #ffffff;
  border-radius:2px 2px 0 0;
}

.body {
  & p {
    margin:0;
    color:#34495e;
  }
}

